ul.random__list.clearfix>lorem.random__listItem*3

<!-- Output: -->
<!-- <ul class="random__list clearfix">
	<li class="random__listItem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum adipisci natus consequuntur veritatis provident. Accusantium voluptas voluptatibus, soluta obcaecati perspiciatis, nulla eaque, velit vel modi unde nesciunt quibusdam doloribus dolores.</li>
	<li class="random__listItem">Veniam assumenda, reprehenderit facere atque velit expedita, odio dolorum dolor adipisci reiciendis voluptates nulla, quisquam incidunt ut officia rem labore hic repellendus consectetur sed ad itaque soluta quam. Doloremque, dolore.</li>
	<li class="random__listItem">Facilis nisi, ab aperiam voluptatibus at dicta rerum vitae soluta. Facere a sed suscipit numquam ratione, rerum aperiam. Esse excepturi ut ullam tempore tenetur asperiores enim, odit hic est voluptatum.</li>
</ul> -->